
<!-- Topbar-->
<div class="topbar">
  <div class="topbar-column"><a class="hidden-md-down" href="mailto:support@unishop.com"><i class="icon-mail"></i>&nbsp; support@unishop.com</a></div>
  <div class="topbar-column">
    <!-- Search / Categories-->
    <div class="search-box-wrap d-none d-md-flex justify-content-end py-2">
      <div class="search-box-inner align-self-center">
        <div class="search-box d-flex">
          <form class="input-group" method="get"><span class="input-group-btn">
              <button type="submit"><i class="icon-search"></i></button></span>
            <input class="form-control form-control-sm" type="search" placeholder="Search for anything"/>
          </form>
        </div>
      </div>
    </div>
    <div class="account topbar-account-toggle d-md-none"><a class="p-2" href="#"><i class="icon-head"></i></a></div>
  </div>
</div>